body {
    line-height: 150%;
    background-color: black;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1em;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}
h1{
    text-align: center;
    margin: 5% auto;
}
.gameScreen{
    opacity: 0.7; 
}
.attackButton {
    margin: 15px auto;
}
#charactersSection {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
#fightSection {
    margin: 10px auto;
}
#availabletoattack {
    margin-bottom: 5%;
    display: flex;
   justify-content: space-around;
}
.CharTitle{
    color: #e7664e;
    text-align: center;
    margin: 10px auto;
}
h3{
    color: #e7664e;
    text-shadow: 4px 4px 2px rgb(37, 37, 37);
   
}
#gameTitleMain {
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #e7664e,
               0 3px 0 #bbb,
               0 4px 0 #e7664e,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}
#statistic {
    color: #e7664e;
    margin: 10px auto;
}
/*footer*/

#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 840px) {
   

}

@media (max-width: 375px) {

    body{
        font-size: 0.7em;
    }

    h1{
        font-size: 1.4em;
    }

    h3,h2{
        font-size: 1.2em;
    }
    #statistic{
        font-size: 1em;
    }
    #charactersSection, #availabletoattack {
        margin:15px auto;
    }
    .attackButton {
        margin: 5px auto;
    }
    #statistic {
        margin: 5px auto;
    }
}
